extends /layout/layout

include ../../s-components/components

block htmlhead
    title Styleguide — #{component.name} component
    meta(name='description', content='')
    link(rel='stylesheet', href='#{relativePath}/css/styleguide.css')

block htmlbody
  +navigation-bar
  +component-info-bar
  +main-view
