
<div ng-if="ready">
  <div ng-repeat="(paletteName, paletteData) in colorsData" class="styleguide-palette-container">
    <h2 class="t-styleguide-title">{{ paletteName | ucfirst }}</h2>
    <ul class="list-reset l-grid">
      <li ng-repeat="(colorName, colorSpec) in paletteData" class="l-grid-cell l-one-fifth styleguide-color-item-container">
        <div style="background-color: {{ colorSpec }}" class="styleguide-color-item">
          <div class="styleguide-color-data">
            <p class="t-styleguide-caption">{{ colorName }}<br/>{{ colorSpec }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>