h1.content__title Spital Zusatzversicherung
p.content__lead.l-gap-double Die Spitalzusatzversicherungen ergänzen die Leistungen der Grundversicherung bei einem Spitalaufenthalt hinsichtlich Komfort und Wahlfreiheit.Die Spitalzusatzversicherungen ergänzen die Leistungen der Grundversicherung bei einem Spitalaufenthalt hinsichtlich Komfort und Wahlfreiheit.

include /modules/contents/list/list-services-szv
include /modules/contents/actions/actions
