h1.content__title Leistungen der Spital Zusatzversicherungen
p.content__lead.l-gap Die Spitalzusatzversicherungen ergänzen die Leistungen der Grundversicherung bei stationären Behandlungen die mindestens eine Übernachtung im Spital erfordern.

include /modules/contents/insurance-table/insurance-table-szv
include /modules/contents/list/list-settings
