.offers {
    @extend %clearfix;
    max-width: 625px;
    margin: 60px auto 0;
    @include mobile {
        font-size: 12px;
        margin: 20px auto 0;
    }
}
.offers__left,
.offers__right {
    width: 270px;
    font-size: 14px;
    @include mobile {
        width: 48%;
    }
}

.offers__container {
    height: 340px;
    margin-bottom: 20px;
    @include mobile {
        height: 200px;
    }
}
.offers__left {
    float: left;
    .offers__section {
        padding: 15px 30px 15px 80px;
        text-align: right;
        @include mobile {
            padding: 10px 10px 10px 25px;
        }
    }
}

.offers__right {
    float: right;
}

.offers__section {
    display: block;
    text-decoration: none;
    color: $white;
    padding: 15px 80px 15px 30px;
    @include mobile {
        padding: 10px 25px 10px 10px;
    }
    @include box-sizing(border-box);
}

.offers__section--blank {
    border: 1px solid $c-grey-light;
    color: $c-grey-mid;
    text-align: center !important;
    padding: 0 50px !important;
    @include mobile {
        padding: 0 25px !important;
    }
}

.offers-text {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
    display: block;
}

.offers__button__wrap {
    .button {
        display: block;
        width: 100%;
        @include box-sizing(border-box);
    }
}

.offers__title {
    font-size: 14px;
    @include box-sizing(border-box);
    padding: 0 50px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    @include mobile {
        padding: 0 10px;
    }
}
