article.section.section--offers#section-offers
    .l-site-width
        .section__inner.section__inner--small
            h1.section__title
                | Unsere Angebote für Sie
            h2.js-side-nav.is-hidden(data-target="section-offers") Angebote

            .offers
                .offers__left
                    .offers__title.is-hidden-mobile Minimaler Versicherungsschutz
                    .offers__title.is-visible-mobile Minimaler Versicherungs-<br/>schutz
                    .offers__container
                        .offers__section.offers__section--blank(style="height: 66.66%")
                            span.offers-text Keine zusätzliche Deckung
                        a(href="#").offers__section.bg-color--blue(style="height: 33.33%")
                            span.offers-text.is-hidden-mobile.
                                <strong>Grundversicherung</strong> Minimale medizinische Grundversorgung
                            span.offers-text.is-visible-mobile.
                                Grund-<br/>ersicherung

                    .offers__button__wrap.is-hidden-mobile
                        a.button.button--primary.button--wider.button--large(href="#") Grundversicherung Wählen

                .offers__right
                    .offers__title.is-hidden-mobile Individueller Versicherungsschutz
                    .offers__title.is-visible-mobile Individueller Versicherungs-<br/>schutz
                    .offers__container
                        a(href="#").offers__section.bg-color--orange(style="height: 33.33%")
                            span.offers-text.is-hidden-mobile.
                                <strong>Assurances complémentaires d’hospitalisation</strong> Avantages importants
                            span.offers-text.is-visible-mobile.
                                Assurances complémentaires d'hospitalisation

                        a(href="#").offers__section.bg-color--green(style="height: 33.33%")
                            span.offers-text.is-hidden-mobile.
                                <strong>Ambulante Zusatzversicherung</strong> Ausgewählte Leistungen
                            span.offers-text.is-visible-mobile.
                                Assurances complémentaires ambulatoires
                        a(href="#").offers__section.bg-color--blue(style="height: 33.33%")
                            span.offers-text.is-hidden-mobile.
                                <strong>Grundversicherung</strong> Minimale medizinische Grundversorgung
                            span.offers-text.is-visible-mobile.
                                Assurance de base

                    .offers__button__wrap.is-hidden-mobile
                         a.button.button--outline.button--wider.button--large(href="#") Individuell zusammenstellen

            ul.button-group.button-group--wide.insurance__buttons.is-visible-mobile
                li
                    a.button.button--primary.button--wider.button--large(href='#') Grundversicherung Wählen
                li
                    a.button.button--outline.button--wider.button--large(href='#') Individuell zusammenstellen


