mixin header(data, options)
  - var options = helpers.mergeDefaultOptions(options, 'elements/header');

  +card({},{
    size: {
      all: 'one-whole',
      mobile: 'one-whole'},
    ratio: {
      all: 'landscape'},
  })
    h1.t-title= data.title
    h2= data.subtitle
    block
