mixin mymodule-submodule(title, age)
  //- Use this space for default arguments handling
  - title = title || mymoduleMymoduleSubmodule.data.title
  - age   = age   || data.age

  article.mymodule.mymodule--submodule
    h1 #{title}