$tweet-padding: 10px;
$tweet-avatar-size: 80px;

.tweet {
  padding: $tweet-padding;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &-avatar {
    position: absolute;
    left: $tweet-padding;
    top: $tweet-padding;
    width: $tweet-avatar-size;
  }

  &-username {
    font-weight: bold;
    color: black;
    margin: 0;
  }

  &-handle {
    color: #999;
    font-size: .8em;
    margin: 0;
  }

  &-sent {
    position: absolute;
    top: $tweet-padding;
    right: $tweet-padding;
    text-align: right;
    color: #999;
    font-size: .8em;
  }

  &-actions {
    color: #999;
    font-size: .9em;
  }

  &-action {
    $icon-width : 16px;
    $icon-height: 10px;
    color: #999;
    position: relative;
    padding-left: $icon-width + $tweet-padding/4;
    margin-right: $tweet-padding;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: $icon-width;
      height: $icon-height;
      transform: translateY(-50%);
    }
    &--reply:before     { background: url(http://www.londonbroncosrl.com/tools/images/tweet/reply.png) no-repeat; }
    &--retweet:before   { background: url(http://politwitter.ca/images/icon_retweet.png) no-repeat; }
    &--favourite:before { background: url(http://www.esomar.org/layout/images/icons/16/icon-star-grey.png) no-repeat; }
  }

}



// Tweet in List
.tweet--display-list {
  background: rgba(0,0,0,.1);
  .tweet-actions, .tweet-social-container { display: none; }
  &:hover .tweet-actions { display: block; }
  .tweet-user, .tweet-text { padding-left: $tweet-avatar-size + $tweet-padding; }
  .tweet-actions {text-align: right; }
}

// Tweet as Item
.tweet--display-item {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 4 * $tweet-padding;

  $tweet-avatar-size: 60px;
  .tweet-avatar   { width: $tweet-avatar-size; }
  .tweet-user     { padding-left: $tweet-padding + $tweet-avatar-size; }
  .tweet-username { font-size: 1.5rem; }
  .tweet-handle   { font-size: 1.2rem; }
  .tweet-text     { font-size: 1.2rem; }

  .tweet-actions { margin-bottom: $tweet-padding; }

  .tweet-social-container {
    border-top:    1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: $tweet-padding/2 0;
  }
  .tweet-social-stat {
    border-right: 1px solid #ccc;
    padding: 0 $tweet-padding;
    display: inline-block;
    &:first-of-type { padding-left: 0; }
    &:last-of-type { border-right: 0; }
  }
  .tweet-social-stat-title,
  .tweet-social-stat-number { display: block; }
  .tweet-social-stat-title {
    text-transform: uppercase;
    color: #999;
    font-size: .8rem;
  }
  .tweet-social-stat-number {
    font-size: 1.5rem;
    color: #2980b9;
    margin-right: $tweet-padding;
  }

  .tweet-favourite {
    display: inline-block;
    width: 25px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: -6px;
  }

  .tweet-sent {
    top: auto;
    right: auto;
    bottom: $tweet-padding;
    left: $tweet-padding;
  }
}

// Tweet as chat
.tweet--display-chat {
  background: rgba(0,100,100,.1);
  .tweet-avatar, .tweet-username, .tweet-actions, .tweet-social-container { display: none; }
  .tweet-user, .tweet-text { display: block; margin: 0; }
}


