/**
 * Prfixes a rulename with your prefered prefix.
 * Can also be used to create placeholder and normal classes
 *
 * prefix-rules( $ruleName,$prefixes )
 * @type {[string/list]} $ruleName class or/and placeholder name
 * @type {[list]} $refixes selector slug
 *
 * usage:
 *  @include prefix-rule( "foo", ".l-" ".is-" "%" ) {
 *      margin: 20px;
 *  }
 * generates:
 *  .l-foo, .is-foo, %foo {
 *      margin: 20px;
 *  }
 *
 */
/**
 * px2percent calculates the relative with based on two values
 * @param  {[value]} $size
 * @param  {[value]} $contextSize
 * @return {[value in %]}
 */
/**
 * px2rel turns px values in to REM's base on the base font size
 * @param  {[value]} $px Wished font size
 * @param  {[value]} $baseSize Reference Size (usualy HTML/Body font size)
 * @param  {[value]} $unit of the converted value
 * @return {[value]} Relative value inc. unit
 */
/**
 *  font-size REM fallback mixin for legacy browsers
 *  @param  {[value]} $px wished font-size / only use when needed will bloat up your CSS
 */
/**
 *  line-height REM fallback mixin for legacy browsers
 *  @param  {[value]} $px wished line-height
 */
/**
 * triangle mixin produces a crossbrowser CSS triangle
 * @height {[value]} height of the arrow
 * @color {[color]} arrow color
 * @direction {[string]} can be up down left or right
 * @width: {[value]} by default the arrow has the same height and width
 */
/**
 * circle mixin produces a circle of a given color and size
 * @size {[value]} diameter of the circle
 * @color {[color]} fill color
 */
/**
 * Absolutely centers an element in it's parent horizontal, vertically or in both directions
 * @direction {[string]} vertical, horizontal or both
 */
/**
 * Circle trigonometric mixin
 * x = a + r cos (t)
 * y = b + r cos (t)
 *
 * where (a,b) is the center of the circle
 * (in our case a = 0 and b = 0 for simplicity. )
 *
 * @degres {[degrees]} in deg
 * @degres {[radius]} in whatever unit
**/
/*
 * will generate an icon helper class for different sized icons
 * usage:
 *      @include icons("icons", 32, 10 14 16 25, "px")
 * can be tested here:
 *      http://sassmeister.com/gist/bda172ef16a168d99b3d
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
  usage:

  @include breakpoint(mobile) {
    margin: 20px;
  }
*/
.js-breakpoint:after,
.js-breakpoint {
  content: '{"mobile-portrait":"only screen and (max-width:400px)","mobile":"only screen and (max-width:740px)","not-mobile":"only screen and (min-width:741px)","only-mobile":"only screen and (max-width:740px)","tablet-portrait":"only screen and (max-width:850px)","tablet":"only screen and (max-width:1050px)","only-tablet":"only screen and (min-width:741px) and (max-width:1051px)","not-tablet":"only screen and (min-width:1051px)","desktop":"only screen and (min-width:1051px)","only-desktop":"only screen and (min-width:1051px)","retina":"only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)","highres":"print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)","print":"print"}';
  font-family: '{"mobile-portrait":"only screen and (max-width:400px)","mobile":"only screen and (max-width:740px)","not-mobile":"only screen and (min-width:741px)","only-mobile":"only screen and (max-width:740px)","tablet-portrait":"only screen and (max-width:850px)","tablet":"only screen and (max-width:1050px)","only-tablet":"only screen and (min-width:741px) and (max-width:1051px)","not-tablet":"only screen and (min-width:1051px)","desktop":"only screen and (min-width:1051px)","only-desktop":"only screen and (min-width:1051px)","retina":"only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)","highres":"print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)","print":"print"}';
}

/*
 * Variables that are used on the project.
 * Never use a color that is not in here
 *
 * Namespace:
 *  f: font
 *  c: color
 *  s: size
 *  i: icons & sprites
 *  a: animations & transitions
 */
/**
 * Bone CSS Defaults
 */
html {
  min-height: 100%;
  font: 0.875em/1.5 Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

html, body, .l-body {
  min-height: 100%;
}

strong {
  font-weight: 700;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

.t-styleguide-sidebar-group-label {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: .85rem;
  color: #666666;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: .5em;
  padding: 0 20px;
}

.t-styleguide-sidebar-link {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #999999;
  padding: 10px 20px;
  display: block;
}
.t-styleguide-sidebar-link.is-active {
  background: rgba(255, 255, 255, 0.1);
  color: #8296c4;
}

.t-styleguide-title {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 1.71rem;
  margin: 0 0 .3em 0;
}

.t-styleguide-caption {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #bbbbbb;
  font-size: 0.85rem;
  margin: 0;
}

/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.l-horizontal-extremities:before, .l-horizontal-extremities:after, .l-clearfix:before, .l-clearfix:after {
  content: " ";
  display: table;
}
.l-horizontal-extremities:after, .l-clearfix:after {
  clear: both;
}

/**
 * Class used to wrap the contents of sections that should have the with of the design
 */
.l-site-width {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
}

/**
 * creates a inline list
 * [|---|----|--|-----|      ]
 */
.l-horizontal-list, .styleguide-tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.l-horizontal-list > li, .styleguide-tabs-list > li {
  display: inline-block;
  vertical-align: top;
}

/**
 * set any direct children of the selected element inline
 * [|---|----|--|-----|      ]
 */
.l-horizontal {
  font-size: 0.1px;
}
.l-horizontal > * {
  font-size: 16px;
  font-size: 1rem;
}
.l-horizontal > * {
  display: inline-block;
  vertical-align: top;
}

/**
 * inline list where all direct children have the same width
 * [|-----|-----|-----|-----|]
 */
.l-horizontal-samewidth-list {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.l-horizontal-samewidth-list > li {
  height: 100%;
  display: table-cell;
}

/**
 * used for elements placed next to each other that should be equidistant
 * [|---|   |---|   |---|   |---|]
 */
.l-horizontal-equidistant {
  text-align: justify;
  font-size: 0.1px;
  /* IE 9 & 10 don't like font-size: 0; */
}
.l-horizontal-equidistant > * {
  display: inline-block;
  font-size: 16px;
}
.l-horizontal-equidistant:after {
  content: '';
  width: 100%;
  /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

/**
 * used to make table-layouts
 * no documentation for now, read the code :D
 */
.l-table {
  display: table;
  width: 100%;
  box-sizing: border-box;
  /*
  &--gapped {
      margin-bottom: -$s-gutter;
      @include prefix-rule( "table-cell", $prefixes: $layout-selectors) {
          padding-bottom: $s-gutter;
      }
      .l-table-cell + .l-table-cell {
          padding-left: $s-gutter;
      }
  }
  */
}

.l-table-row {
  display: table-row;
}

.l-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.l-table-cell--max {
  width: 100%;
}
.l-table-cell--min {
  width: 1%;
}

/**
 * places children at the exremities of the parent
 * [|----|                |---|]
 */
.l-horizontal-extremities > * {
  float: right;
}
.l-horizontal-extremities > *:first-child {
  float: left;
}

/**
 * a few gutter helperclasses for margins on top and bottom of elements
 */
.gap {
  margin-bottom: 20px;
}
.gap--double {
  margin-bottom: 40px;
}
.gap--triple {
  margin-bottom: 60px;
}

.gap-above {
  margin-top: 20px;
}
.gap-above--double {
  margin-top: 40px;
}
.gap-above--triple {
  margin-top: 60px;
}

.no-gap {
  margin: 0;
}

/**
 *  islands describe the padding of a box
 */
.l-continent {
  padding: 30px;
}

.l-island {
  padding: 20px;
}

.l-islet {
  padding: 10px;
}

/**
 *   entirely fills out a element
 */
.l-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* centers with complicated table layout */
.l-centered-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.l-centered-inner {
  display: table;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
}

.l-centered-content {
  display: table-cell;
  vertical-align: middle;
}

.l-centered-body {
  position: relative;
  display: inline-block;
  max-width: 90%;
  text-align: left;
}

/**
 * Consider adding sensible grid for grid and responsiveness
 * @include sensibleGrid();
 */
/*!
 * 0. false will set the grid elements to inline-block if true flexbox
 * 1. size of the gutter between the cols
 * 2. the gutter between the columns can be padding or margin
 * 3. the gutter can be on the right or the left side of every col
 * 4. Provides additional classes for the grid in order have different available gutter sizes
 * 5. Base font size used for the in-line-block gap fix: http://css-tricks.com/fighting-the-space-between-inline-block-elements/
 * 6. Slug used for the grid classes (l- for SMACSS layout), empty string for no slug
 * 7. If set to true, one push class per with will be available (margin-left)
 * 8. Generated col names & withs
 * 9. Breakpoints used in the grid (ideally reduced to a minimum)
 * 10. To avoid breaking the grid on Blackberry and some Firefox version you can set a rounding. 50% will be 50% - $rounding etc.. Set this to 0 if you don't need it.
 */
.l-grid {
  font-size: 0.1px;
  margin-right: -20px;
  margin-right: calc(-20px + -1px );
}
.l-grid .l-grid-cell {
  padding-right: 20px;
  font-size: 16px;
}
.l-grid--no-gap {
  margin-right: 0px;
  margin-right: calc(-0px + -1px );
}
.l-grid--no-gap .l-grid-cell {
  padding-right: 0px;
}
.l-grid--double {
  margin-right: -40px;
  margin-right: calc(-40px + -1px );
}
.l-grid--double .l-grid-cell {
  padding-right: 40px;
}
.l-grid--triple {
  margin-right: -60px;
  margin-right: calc(-60px + -1px );
}
.l-grid--triple .l-grid-cell {
  padding-right: 60px;
}
.l-grid--gapped > .l-grid-cell {
  padding-bottom: 20px;
}

.l-grid-cell {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.l-one-whole {
  width: 99.905%;
}

.l-one-half {
  width: 49.9525%;
}

.l-one-quarter {
  width: 24.97625%;
}

.l-three-quarters {
  width: 74.92875%;
}

.l-one-third {
  width: 33.30133%;
}

.l-two-thirds {
  width: 66.60267%;
}

.l-one-fifth {
  width: 19.981%;
}

.l-four-fifths {
  width: 79.924%;
}

.l-one-sixth {
  width: 16.65017%;
}

.l-five-sixths {
  width: 83.25383%;
}

@media only screen and (min-width: 1051px) {
  .l-not-tablet-one-whole {
    width: 99.905%;
  }

  .l-not-tablet-one-half {
    width: 49.9525%;
  }

  .l-not-tablet-one-quarter {
    width: 24.97625%;
  }

  .l-not-tablet-three-quarters {
    width: 74.92875%;
  }

  .l-not-tablet-one-third {
    width: 33.30133%;
  }

  .l-not-tablet-two-thirds {
    width: 66.60267%;
  }

  .l-not-tablet-one-fifth {
    width: 19.981%;
  }

  .l-not-tablet-four-fifths {
    width: 79.924%;
  }

  .l-not-tablet-one-sixth {
    width: 16.65017%;
  }

  .l-not-tablet-five-sixths {
    width: 83.25383%;
  }
}
@media only screen and (max-width: 1050px) {
  .l-tablet-one-whole {
    width: 99.905%;
  }

  .l-tablet-one-half {
    width: 49.9525%;
  }

  .l-tablet-one-quarter {
    width: 24.97625%;
  }

  .l-tablet-three-quarters {
    width: 74.92875%;
  }

  .l-tablet-one-third {
    width: 33.30133%;
  }

  .l-tablet-two-thirds {
    width: 66.60267%;
  }

  .l-tablet-one-fifth {
    width: 19.981%;
  }

  .l-tablet-four-fifths {
    width: 79.924%;
  }

  .l-tablet-one-sixth {
    width: 16.65017%;
  }

  .l-tablet-five-sixths {
    width: 83.25383%;
  }
}
@media only screen and (max-width: 850px) {
  .l-tablet-portrait-one-whole {
    width: 99.905%;
  }

  .l-tablet-portrait-one-half {
    width: 49.9525%;
  }

  .l-tablet-portrait-one-quarter {
    width: 24.97625%;
  }

  .l-tablet-portrait-three-quarters {
    width: 74.92875%;
  }

  .l-tablet-portrait-one-third {
    width: 33.30133%;
  }

  .l-tablet-portrait-two-thirds {
    width: 66.60267%;
  }

  .l-tablet-portrait-one-fifth {
    width: 19.981%;
  }

  .l-tablet-portrait-four-fifths {
    width: 79.924%;
  }

  .l-tablet-portrait-one-sixth {
    width: 16.65017%;
  }

  .l-tablet-portrait-five-sixths {
    width: 83.25383%;
  }
}
@media only screen and (min-width: 741px) {
  .l-not-mobile-one-whole {
    width: 99.905%;
  }

  .l-not-mobile-one-half {
    width: 49.9525%;
  }

  .l-not-mobile-one-quarter {
    width: 24.97625%;
  }

  .l-not-mobile-three-quarters {
    width: 74.92875%;
  }

  .l-not-mobile-one-third {
    width: 33.30133%;
  }

  .l-not-mobile-two-thirds {
    width: 66.60267%;
  }

  .l-not-mobile-one-fifth {
    width: 19.981%;
  }

  .l-not-mobile-four-fifths {
    width: 79.924%;
  }

  .l-not-mobile-one-sixth {
    width: 16.65017%;
  }

  .l-not-mobile-five-sixths {
    width: 83.25383%;
  }
}
@media only screen and (max-width: 740px) {
  .l-mobile-one-whole {
    width: 99.905%;
  }

  .l-mobile-one-half {
    width: 49.9525%;
  }

  .l-mobile-one-quarter {
    width: 24.97625%;
  }

  .l-mobile-three-quarters {
    width: 74.92875%;
  }

  .l-mobile-one-third {
    width: 33.30133%;
  }

  .l-mobile-two-thirds {
    width: 66.60267%;
  }

  .l-mobile-one-fifth {
    width: 19.981%;
  }

  .l-mobile-four-fifths {
    width: 79.924%;
  }

  .l-mobile-one-sixth {
    width: 16.65017%;
  }

  .l-mobile-five-sixths {
    width: 83.25383%;
  }
}
@media only screen and (max-width: 400px) {
  .l-mobile-portrait-one-whole {
    width: 99.905%;
  }

  .l-mobile-portrait-one-half {
    width: 49.9525%;
  }

  .l-mobile-portrait-one-quarter {
    width: 24.97625%;
  }

  .l-mobile-portrait-three-quarters {
    width: 74.92875%;
  }

  .l-mobile-portrait-one-third {
    width: 33.30133%;
  }

  .l-mobile-portrait-two-thirds {
    width: 66.60267%;
  }

  .l-mobile-portrait-one-fifth {
    width: 19.981%;
  }

  .l-mobile-portrait-four-fifths {
    width: 79.924%;
  }

  .l-mobile-portrait-one-sixth {
    width: 16.65017%;
  }

  .l-mobile-portrait-five-sixths {
    width: 83.25383%;
  }
}
@media print {
  .l-print-one-whole {
    width: 99.905%;
  }

  .l-print-one-half {
    width: 49.9525%;
  }

  .l-print-one-quarter {
    width: 24.97625%;
  }

  .l-print-three-quarters {
    width: 74.92875%;
  }

  .l-print-one-third {
    width: 33.30133%;
  }

  .l-print-two-thirds {
    width: 66.60267%;
  }

  .l-print-one-fifth {
    width: 19.981%;
  }

  .l-print-four-fifths {
    width: 79.924%;
  }

  .l-print-one-sixth {
    width: 16.65017%;
  }

  .l-print-five-sixths {
    width: 83.25383%;
  }
}
.l-styleguide-container {
  display: flex;
  flex-flow: row;
  height: 100vh;
}

.l-styleguide-sidebar-container {
  flex: 1 0 30%;
  max-width: 300px;
  height: 100vh;
}

.l-styleguide-main-container {
  flex: 1 0 auto;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  padding: 20px;
}

.styleguide-sidebar {
  box-sizing: border-box;
  padding: 20px 0;
  background: #333333;
  height: 100vh;
}

/* No files to import found in dashboard/**\/* */
.styleguide-palette-container {
  margin-bottom: 40px;
}

.styleguide-color-item-container {
  margin-bottom: 20px;
}

.styleguide-color-item {
  height: 280px;
  position: relative;
}

.styleguide-color-data {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: white;
  padding: 5px 10px;
}

.styleguide-typography-item {
  margin-bottom: 40px;
}

.styleguide-typography-preview {
  padding: 40px 20px;
  border: 1px solid #333;
  margin: 0;
}

.styleguide-component-header {
  height: 100px;
}

.styleguide-component-drawer {
  overflow: hidden;
}

.styleguide-tabs {
  overflow: scroll;
}

.styleguide-tabs-list {
  border-bottom: 1px solid #dddddd;
}
.styleguide-tabs-list a {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -1px;
}
.styleguide-tabs-list a.is-active {
  border-bottom: 4px solid #8296c4;
}

.styleguide-field {
  margin-bottom: 10px;
}
.styleguide-field label {
  vertical-align: middle;
}
.styleguide-field select,
.styleguide-field input {
  padding: 5px 10px;
}

.t-selectable {
  user-select: text;
}

.t-not-selectable {
  user-select: none;
}

/**
 * http://stackoverflow.com/questions/11459746/css3-webfont-smoothing-and-antialiasing-in-firefox-and-opera
 */
.t-antialiased {
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 *  will trucate text needs a fixed width
 *  http://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
 */
.t-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.js-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* print CSS fromt H5BP */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */
.is-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */
}
.is-visuallyhidden.is-focusable:active, .is-visuallyhidden.is-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.is-invisible {
  visibility: hidden;
}

/*
 * Generic class to disable buttons and links
 */
.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*
 * Hide visually and from screen readers: h5bp.com/u
 */
.is-hidden {
  display: none !important;
  visibility: hidden;
}

/**
 * Used to show elements
 * will be set to inherit by default, but can be block inline or inline-block as well,
 * just use the modifiers
 */
.is-visible {
  display: inherit !important;
  visibility: visible;
}
.is-visible--block {
  display: block !important;
}
.is-visible--inline {
  display: inline !important;
}
.is-visible--inline-block {
  display: inline-block !important;
}

/* generic loading class */
.is-loading {
  pointer-events: none;
  opacity: 0.5;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.2;
  }
}
body {
  margin: 0;
}
