$base-spacing-unit: 20px;

@import "styleguide-templates/css/typography",
        "styleguide-templates/s-components/components";

// Helpers
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


// Combinations
.component-combination-iframe {
  width: 100%;
  display: none !important;
  height: 100%;
  &.is-active {
    display: block !important;
  }
}

pre {
  margin: 0;
  overflow: scroll;
  padding: $base-spacing-unit/2;
  background: rgba(0,0,0,.1);
}
