$base-spacing-unit: 20px;
$styleguide-code-bg: #EAEAEA;

// Helpers
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


pre {
  margin: 0;
  overflow: scroll;
  padding: $base-spacing-unit/2;
  background: $styleguide-code-bg;
}

// Styles (includes colors, typography, margins)
@import "styles/colors/colors",
        "styles/typography/typography";
