table.table.l-gap
  tr.table-row
    td.is-hidden-mobile
    td.table-column-title.f-color--blue.bg-color--blue-light
      span.is-hidden-mobile Grund Versicherung
      span.is-visible-mobile Grund Versicherung
    td.table-column-title.f-color--green
      span.is-hidden-mobile Ambulante Zusatzversicherung
      span.is-visible-mobile Ambulante Zusatz- versicherung
    td.table-column-title.f-color--orange
      span.is-hidden-mobile Spital Zusatzversicherung
      span.is-visible-mobile Spital Zusatz- versicherung
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-leave--21--grey
      span.table-row-title Komplementärmdizin
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-leave--21--grey
      span.table-row-title Komplementärmdizin
    td.bg-color--blue-light
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-large--21--green
    td
      span.icon.icon-checkmark-small--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-leave--21--grey
      span.table-row-title Ambulante Behandlung
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-leave--21--grey
      span.table-row-title Ambulante Behandlung
    td.bg-color--blue-light
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-large--21--green
    td
      span.icon.icon-checkmark-small--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-leave--21--grey
      span.table-row-title Stationäre Behandlung
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-leave--21--grey
      span.table-row-title Stationäre Behandlung
    td.bg-color--blue-light
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-small--21--green
    td
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-world--21--grey
      span.table-row-title Ausland
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-world--21--grey
      span.table-row-title Ausland
    td.bg-color--blue-light
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-large--21--green
    td
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-teddybear--21--grey
      span.table-row-title Mutterschaft
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-teddybear--21--grey
      span.table-row-title Mutterschaft
    td.bg-color--blue-light
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-large--21--green
    td
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-tooth--21--grey
      span.table-row-title Zahnärztliche Behandlung
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-tooth--21--grey
      span.table-row-title Zahnärztliche Behandlung
    td.bg-color--blue-light
      span.icon.icon-checkmark-small--21--blue
    td
      span.icon.icon-checkmark-large--21--green
    td
      span.icon.icon-checkmark-small--21--orange

.legend.l-gap
  .legend__item
    .legend__icon
      span.icon.icon-checkmark-large--10--grey
    span.legend__desc Höherer Deckungsumfang als in der Grundversicherung.  Deckungsumfang variiert je nach Produkt.
  .legend__item
    .legend__icon
      span.icon.icon-checkmark-small--10--grey
    span.legend__desc Limitierter Leistungsumfang in der Grundversicherung.
  .legend__item.legend__item
    .legend__icon
      span.icon.icon-minus--10--grey
    span.legend__desc Leistung nicht gedeckt.

.l-gap-triple
  include /modules/contents/actions/actions
