table.table.l-gap
  tr.table-row
    td.is-hidden-mobile
    td.table-column-title.f-color--blue
      span.is-hidden-mobile Assurance de base
      span.is-visible-mobile Assurance de base
    td.table-column-title.f-color--green
      span.is-hidden-mobile Assurances complémentaires ambulatoires
      span.is-visible-mobile Assurances complémen- taires ambulatoires
    td.table-column-title.f-color--orange
      span.is-hidden-mobile Assurances complémentaires d’hospitalisation
      span.is-visible-mobile Assurances complémen- taires d’hospitali- sation
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-leave--21--grey
      span.table-row-title Komplementärmdizin
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-leave--21--grey
      span.table-row-title Komplementärmdizin
    td
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-small--21--green
    td.bg-color--orange-light
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-leave--21--grey
      span.table-row-title Ambulante Behandlung
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-leave--21--grey
      span.table-row-title Ambulante Behandlung
    td
      span.icon.icon-checkmark-small--21--blue
    td
      span.icon.icon-checkmark-small--21--green
    td.bg-color--orange-light
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-leave--21--grey
      span.table-row-title Stationäre Behandlung
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-leave--21--grey
      span.table-row-title Stationäre Behandlung
    td
      span.icon.icon-checkmark-small--21--blue
    td
      span.icon.icon-checkmark-small--21--green
    td.bg-color--orange-light
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-world--21--grey
      span.table-row-title Ausland
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-world--21--grey
      span.table-row-title Ausland
    td
      span.icon.icon-minus--21-blue
    td
      span.icon.icon-checkmark-small--21--green
    td.bg-color--orange-light
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-teddybear--21--grey
      span.table-row-title Mutterschaft
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-teddybear--21--grey
      span.table-row-title Mutterschaft
    td
      span.icon.icon-checkmark-small--21--blue
    td
      span.icon.icon-checkmark-small--21--green
    td.bg-color--orange-light
      span.icon.icon-checkmark-large--21--orange
  tr.table-row.caption
    td(colspan='3')
      span.icon.icon-tooth--21--grey
      span.table-row-title Zahnärztliche Behandlung
  tr.table-row
    td.is-hidden-mobile
      span.icon.icon-tooth--21--grey
      span.table-row-title Zahnärztliche Behandlung
    td
      span.icon.icon-checkmark-small--21--blue
    td
      span.icon.icon-checkmark-small--21--green
    td.bg-color--orange-light
      span.icon.icon-checkmark-large--21--orange

.legend.l-gap
  .legend__item
    .legend__icon
      span.icon.icon-checkmark-large--10--grey
    span.legend__desc Höherer Deckungsumfang als in der Grundversicherung.  Deckungsumfang variiert je nach Produkt.
  .legend__item
    .legend__icon
      span.icon.icon-checkmark-small--10--grey
    span.legend__desc Limitierter Leistungsumfang in der Grundversicherung.
  .legend__item.legend__item
    .legend__icon
      span.icon.icon-minus--10--grey
    span.legend__desc Leistung nicht gedeckt.

.l-gap-triple
  include /modules/contents/actions/actions

