
.table-column-title {
  text-align: center;
  padding: 10px;
  font-size: $f-title-3;
  @include mobile {
    font-size: $f-size-xtra-small;
  }
}

.table-row {
  border-bottom: 1px solid $c-grey-light;
  height: 35px;
  font-size: $f-title-3;
  text-align: center;
  td:first-of-type {
    width: 34%;
    text-align: left;
    .icon {
      margin-right: $s-gutter * 0.75;
    }
  }
  &-title {
    vertical-align: middle;
    @include mobile {
      font-size: $f-size-xtra-small;
    }
  }
  .icon {
    vertical-align: middle;
  }
}

.legend {
  font-size: $f-size-xtra-small;
}
.legend__item {

}

.legend__icon {
  width: $s-gutter;
  display: table-cell;
  vertical-align: top;
  padding-top: 2px;
}

.legend__desc {
  display: table-cell;
  vertical-align: middle;
}

.caption {
  border-bottom: none;

  @include not-mobile {
    display: none;
  }
}
