// Clearfix helper
// Used to contain floats: h5bp.com/q
.l-clearfix {
    @extend %clearfix;
}

// hidden contents
.is-visuallyhidden {
    @extend %visuallyhidden;
}

.is-invisible {
    @extend %invisible;
}
.is-visible {
    display: inherit;
    visibility: visible;
}
.is-hidden {
    @extend %hidden;
}

.js .is-hidden-js {
    display: none;
}

.responsive-visibility {

}

.responsive-invisibility {

}

// Responsive helper classes:
// todo: clean inherit mess

@mixin hiddenHelperclasses( $device ) {
    .is-hidden-#{$device} {
        display: inherit !important;
    }
}
@mixin visibleHelperclasses( $device ){
    .is-visible-#{$device} {
        display: none !important;
    }
}

.is-visible-mobile-portrait {
    display: none !important;
}
.is-visible-mobile {
    display: none !important;
}
.is-visible-tablet {
    display: none !important;
}
.is-visible-tablet-portrait {
    display: none !important;
}
.is-hidden-desktop {
    display: none !important;
}
.is-visible-desktop {
    display: inherit !important;
}

.is-hidden-js {
    display: none;
}
.no-js .is-hidden-js {
    display: block;
}

.js .is-hidden-js {
    display: none;
}
.no-js .is-visible-js {
    display: none;
}

@include tablet {
    .is-hidden-desktop {
        display: inherit !important;
    }
    .is-visible-desktop {
        display: none !important;
    }
    .is-visible-tablet {
        display: inherit !important;
    }
    .is-visible-tablet-portrait {
        display: none !important;
    }
    .is-hidden-tablet {
        display: none !important;
    }
}
@include tablet-portrait {
    .is-visible-tablet {
        display: none !important;
    }
    .is-visible-tablet-portrait {
        display: inherit !important;
    }
    .is-hidden-tablet-portrait {
        display: none !important;
    }
}

@include mobile {
    .is-visible-mobile {
        display: inherit !important;
    }
    .is-hidden-mobile {
        display: none !important;
    }
}

@include mobile-portrait {
    .is-visible-mobile-portrait {
        display: inherit !important;
    }
    .is-hidden-mobile-portrait {
        display: none !important;
    }
}

@include print {
    .is-visible-print {
        display: inherit !important;
    }
    .is-hidden-print {
        display: none !important;
    }
}

.js-scrollbar-measure {
    width: 100px; height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    left: -9999px;
}



.icon {
    display: inline-block;
    background-size: 100% 100%;
    background-position: center center;
    vertical-align: middle;
    width: 32px; height: 32px;
}

$icon-sizes: 10 14 16 21 32;

@each $size in $icon-sizes {
    .icon[class*="--#{$size}"]{
        width: #{$size}px;
        height: #{$size}px;
    }
}
