.is-disabled-fld,
.is-disabled-label{
    @include opacity(.5);
}
.is-disabled {
    @include opacity(0.5);
    pointer-events: none;
}


.is-ajax-loading .ajax-load-overlay, .is-ajax-loader:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 20;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(../img/anims2x/loader-button-white.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: white;
    @include opacity(0.8);
}

.is-ajax-loader:before {
    z-index: 1;
    background-color: #333;
    background-color: rgba(20,20,20, 0.8);
    background-image: url(../img/anims2x/loader-button-grey1.gif);
}
