- function setOptionsDefaults(options, componentName) {
  - options = options || {}
  - for (key in components[componentName].options) {
    - options[key] = options[key] || components[componentName].options[key].default
  - }
  - return options
- }

- function getOptionsModifier(options, componentName, filters) {
  - var classes = "" + componentName
  - if (filters) {
    - for key in filters
      - classes = classes + " " + getClassModifier(componentName, key, options)
  - } else {
    - for val, key in components[componentName].options
      - classes = classes + " " + getClassModifier(componentName, key, options)
  - }
  - return classes
- }

- function getClassModifier(componentName, key, options) {
  - var defaultOption = components[componentName].options[key].default
  - var option = options[key] || defaultOption

  - if (typeof option === "boolean") {
      - return option ?  componentName + "--" + key : ""
  - } else {
      - return option !== "" ?  componentName + "--" + key + "-" + option : ""
  - }
- }
