.site-header.site-header--white
    .l-site-width.site-header__inner
      .site-header__left
          ul.site-header__nav
            li.is-hidden-mobile
              span.site-header__phone
                i.icon-headphones--white
                | +41 0844 80 81 82
            li.is-hidden-mobile
              a(href='http://www.helsana.ch/', target='_blank') helsana.ch
            li.dropdown
              a(href='#')
                | Kontakt
                i.dropdown__toggle.icon.icon-arrow-down--10--white
              ul.dropdown__menu.dropdown__menu--primary
                li
                  a(href='#') Kundendienst
                li
                  a(href='#') Kontaktformular
                li
                  a(href='#') Beratungstermin zuhause
                li
                  a(href='#') Verkaufsstelle suchen
                li
                  a(href='#') Kundenforum
            li.dropdown
              a(href='#')
                | DE
                i.dropdown__toggle.icon.icon-arrow-down--10--white
              ul.dropdown__menu.dropdown__menu--primary
                li
                  a(href='#') DE
                li
                  a(href='#') EN
                li
                  a(href='#') FR
                li
                  a(href='#') IT
        header.site-header__right
          a(href='dashboard.html')
            h1.is-visuallyhidden Helsana
            img.site-header__logo(width='160', height='30', src='../img/helsana-logo--white.png', alt='Helsana')
