/*
 * Variables that are used on the project.
 * Never use a color that is not in here
 *
 * Namespace:
 *  f: font
 *  c: color
 *  s: size
 *  i: icons & sprites
 *  a: animations & transitions
 */

// Fonts

    //@include font-face("AkkuratWeb", font-files("Akkurat/AkkuratRegular/akkrg.woff", "Akkurat/AkkuratRegular/akkrg.ttf", "Akkurat/AkkuratRegular/akkrg.svg"), "Akkurat/AkkuratRegular/akkrg.eot", 400);
    //@include font-face("AkkuratWeb", font-files("Akkurat/AkkuratLightRegular/akklg.woff", "Akkurat/AkkuratLightRegular/akklg.ttf", "Akkurat/AkkuratLightRegular/akklg.svg"), "Akkurat/AkkuratLightRegular/akklg.eot", 300);
    //@include font-face("AkkuratWeb", font-files("Akkurat/AkkuratBoldRegular/akkbd.woff", "Akkurat/AkkuratBoldRegular/akkbd.ttf", "Akkurat/AkkuratBoldRegular/akkbd.svg"), "Akkurat/AkkuratBoldRegular/akkbd.eot", 700);

    $base-font-size: 20px;

    $f-default: "AkkuratWeb", Helvetica, Arial, sans-serif;

    $f-weight-normal: normal;
    $f-weight-bold: bold;

    $f-title-weight-normal: $f-weight-normal;
    $f-title-weight-bold: $f-weight-bold;

    $f-text-weight-normal: $f-weight-normal;
    $f-text-weight-bold: $f-weight-bold;

    $f-title-1: 20px;
    $f-title-2: 16px;
    $f-title-3: 14px;

    $f-size-xtra-small: 12px;
    $f-size-smaller: 14px;
    $f-size-small: 16px;
    $f-size-mid: 20px;
    $f-size-large: 30px;
    $f-size-largest: 40px;

    %antialiased {
        -webkit-font-smooting: antialiased;
    }


    %font-text {
        font-family: $f-default;
        -webkit-font-smoothing: antialiased;
        font-weight: $f-text-weight-normal;
        @extend %antialiased;
    }

// Colors
    $c-white: #fff;

// Colors defined in the google doc
  $helsana-red: #ae1946;
  $helsana-green: #b3ba12;
  $helsana-blue: #8296c4;
  $helsana-orange: #f08100;
  $helsana-ecru: #cab790;
  $helsana-light-red: #d35186;
  $dark-green: #7d8701;
  $dark-blue: #425896;
  $dark-orange: #e24700;
  $dark-ecru: #8f7445;
  $dark-red: #9a0941;

  $c-grey-darkest: #333;
  $c-grey-dark: #666;
  $c-grey-mid: #999;
  $c-grey-light: #ccc;
  $c-grey-lightest: #e5e5e5;

// Custom colors
  $black: #000;
  $white: #fff;
  $gray: #f4f1e9;


  $blue_lighter: #f2f4f9;
  $blue_light: #9aaad0;
  $blue: $helsana-blue;
  $blue_darker: $dark-blue;

  $green_lighter: #f7f8e6;
  $green_light: #c2c832;
  $green: $helsana-green;
  $green_darker: $dark-green;

  $orange_lighter: #fcf0e1;
  $orange_light: #f5a43b;
  $orange: $helsana-orange;
  $orange_darker: $dark-orange;

  $brown_lighter: #f4f1e9;
  $brown_light: #d4c5a4;
  $brown: $helsana-ecru;
  $brown_darker: $dark-ecru;

  $red_lighter: #f7dce7;
  $red_light: $helsana-light-red;
  $red: $helsana-red;
  $red_darker: $dark-red;

// Maps
$colors: (
  blue: (
    lighter: $blue_lighter,
    light: $blue_light,
    normal: $blue,
    dark: $blue_darker,
    darker: #111e58
  ),
  green: (
    lighter: $green_lighter,
    light: $green_light,
    normal: $green,
    dark: $green_darker,
    darker: #576200
  ),
  orange: (
    lighter: $orange_lighter,
    light: $orange_light,
    normal: $orange,
    dark: $orange_darker,
    darker: #c81300
  ),
  brown: (
    lighter: $brown_lighter,
    light: $brown_light,
    normal: $brown,
    dark: $brown_darker,
    darker: #503412
  ),
  red: (
    lighter: $red_lighter,
    light: $red_light,
    normal: $red,
    dark: $red_darker,
    darker: #5d0011
  )
);

@function color-get($color) {
  @return map-get($colors, $color);
}

@function color($color, $luminosity: normal) {
  $current_color: color-get($color);
  @return map-get($current_color, $luminosity);
}



$gray_light: #f0f0f0;

// Shortcuts
$primary: color(red, dark);
$background: #fff;


// Blueprint colors
$font-color: $black;
$header-color: $font-color - #111;

$link-color: $primary;
$link-hover-color: $black;
$link-focus-color: $link-hover-color;
$link-active-color: $link-color;
$link-visited-color: $link-color;



// Animation stuff
    $a-speed-base: 200ms;
    $a-speed-fast: $a-speed-base;
    $a-speed-normal: $a-speed-base * 2;
    $a-speed-slow: $a-speed-base * 3;

    $a-ease: ease-in-out;


    $s-design-width: 1024px;

// spacings
    $m-golden: 1.61803398875;

    $s-gutter: 20px !default;
    $s-gutter-double: $s-gutter * 2;
    $s-gutter-triple: $s-gutter * 3;
    $s-gutter-half: $s-gutter * 0.5;
    $s-gutter-golden: $s-gutter * $m-golden;

// sizes
    $s-header-height: 54px;

// sprites & icons
    $i-spacing:10px;
    $i-2x-spacing:10px;
