@import "sensible/grid";

$grid-gutter: size(medium);

@include sensibleGrid (
  $modern:               true,
  $gutter:               $grid-gutter,
  $gutter-type:          padding,
  $gutter-direction:     left,
  $gutter-modifiers:     (
    "collapsed": 0
  ),
  $base-font-size:       $t-default-font-size,
  $slug:                 "l-",
  $push-classes:         false,
  $grid-widths:          (
    "one-whole"       : 100%,
    "one-half"        : 50%,
    "one-quarter"     : 25%,
    "three-quarters"  : 75%,
    "one-third"       : 33.333%,
    "two-thirds"      : 66.666%,
    "one-fifth"       : 20%,
    "four-fifths"     : 80%,
    "one-sixth"       : 16.666%,
    "five-sixths"     : 83.333%
  ),
  $grid-breakpoints:  "tablet" "mobile"
);
