@import "bonescss/mixins";

/**
 * Size variables
 */
$sizes: (
  huge        : 136px,
  x-large     : 64px,
  large       : 32px,
  medium      : 24px,
  normal      : 16px,
  small       : 12px,
  tiny        : 8px
);
