article.section.section--image-title
    .section__image.js-section-parallax
        .section__image--inner.js-section-parallax-image(style="background-image: url(../img/contents/teaser-small.jpg)")

    .l-site-width.section--title--postion-top-left.section--color--white
        .section__inner.section__inner--very-small
            header.section__title--wrap
                h1.section__title Qualität
                h2.section__subtitle Sieger bei unabhängigen Vergleichsportalen

article.section.section--image-title
    .section__image.js-section-parallax
        .section__image--inner.js-section-parallax-image(style="background-image: url(../img/contents/teaser-small.jpg)")

    .l-site-width.section--title--postion-top-right.section--color--black
        .section__inner.section__inner--very-small
            header.section__title--wrap
                h1.section__title Qualität
                h2.section__subtitle Sieger bei unabhängigen Vergleichsportalen


article.section.section--image-title
    .section__image.js-section-parallax
        .section__image--inner.js-section-parallax-image(style="background-image: url(../img/contents/teaser-small.jpg)")

    .l-site-width.section--title--postion-bottom-left.section--color--red
        .section__inner.section__inner--very-small
            header.section__title--wrap
                h1.section__title Qualität
                h2.section__subtitle Sieger bei unabhängigen Vergleichsportalen

article.section.section--image-title
    .section__image.js-section-parallax
        .section__image--inner.js-section-parallax-image(style="background-image: url(../img/contents/teaser-small.jpg)")

    .l-site-width.section--title--postion-bottom-right.section--color--white
        .section__inner.section__inner--very-small
            header.section__title--wrap
                h1.section__title Qualität
                h2.section__subtitle Sieger bei unabhängigen Vergleichsportalen
