article.section.section--start#section-start
    .section__image.js-section-parallax
        .section__image--inner.js-section-parallax-image(style="background-image: url(../img/contents/teaser-main.jpg)")
    .l-site-width
        .section__inner
            h1.section__title.section__title--large
                | In jeder Lebensphase gut aufgehoben
            h2.js-side-nav.is-hidden(data-target="section-start") Start

            ul.list-icons.list--reset.list-icons--small.section--start__list
                li
                    i.icon.icon-diamond--32--grey
                    span Wir sind die Krankenversicherung der Schweiz
                li
                    i.icon.icon-percent--32--grey
                    span Massgeschneidertes Angebot für Sie
                li
                    i.icon.icon-doctor2--32--grey
                    span Persönliche Beratung

            ul.button-group.button-group--wide
                li
                    a.button.button--primary.button--wider.button--large(href="#")
                        | Zum Angebot
                li
                    a.button.button--outline.button--wider.button--large(href="#")
                        | Mehr erfahren
