.section--start {
  position: relative;
  z-index: 2;
  @include mobile {
    .section__inner {
      padding-top: 50px;
    }
  }
}

.section--start__list {
    margin-bottom: 30px;
    @include mobile {
      margin-bottom: 0;
    }
}


// List with icon on left
.list-icons {
  padding-bottom: 42px;

  .icon {
    display: table-cell;
    vertical-align: middle;
    & + * {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
    }
  }

  @include mobile {
    font-size: 16px;
  }

  > li {
    display: table;
    width: 100%;
    margin-bottom: 64px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__right,
  &__left {
    display: table-cell;
    vertical-align: middle;
  }
  &__left {
    clear: both;
    width: 85px;
    img {
      // Float image to prevent extra spacing below it.
      float: left;
      max-width: 44px;
      // Special case for icons in the first slide.
      .slide--main & {
        max-width: 30px;
      }
    }
  }
  &__item-actions {
    display: block;
    font-size: 18px;
    a {
      &:link, &:visited {
        color: $c-grey-mid;
      }
      &:hover, &:focus {
        color: color(red, dark);
      }
    }
    li {
      margin-right: 22px;
      > * {
        @include inline-block;
      }
      &:hover {
        .icon-info--normal,
        .icon-play--normal {
          display: none;
        }
        .icon-info--hover,
        .icon-play--hover {
          @include inline-block;
        }
        a {
          &:link, &:visited {
            color: color(red, dark);
          }
        }
      }
    }
    .icon-info,
    .icon-play {
      margin-right: 5px;
    }
  }
  &__buttons {
    margin-left: 85px;
  }
  &--small {
    > li {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .list-icons__left {
      width: 47px;
    }
  }
}
