.l-panorama,
.l-square,
.l-landscape {
  &:before {
    content: "";
    display: block;
  }
}

.l-panorama {
  &:before {
    padding-top: 50%;
  }
}

.l-square {
  &:before {
    padding-top: 100%;
  }
}

.l-landscape {
  &:before {
    padding-top: 75%;
  }
}

@include breakpoint(mobile) {
  .l-panorama-mobile {
    &:before{
      padding-top: 50%;
    }
  }

  .l-square-mobile {
    &:before {
      padding-top: 100%;
    }
  }

  .l-landscape-mobile {
    &:before {
      padding-top: 75%;
    }
  }
}



.l-absolute-centered {
  position: absolute;
  top: 50%; left: 10%; right: 10%;
  max-height: 80%;
  transform: translate(0, -50%);
}
