.icon-example--21--grey { background-image: url('png/example--21--grey.png'); background-repeat: no-repeat; }

.icon-example--32--blue { background-image: url('png/example--32--blue.png'); background-repeat: no-repeat; }

.icon-example--32--green { background-image: url('png/example--32--green.png'); background-repeat: no-repeat; }

.icon-example--32--grey { background-image: url('png/example--32--grey.png'); background-repeat: no-repeat; }

.icon-example--32--orange { background-image: url('png/example--32--orange.png'); background-repeat: no-repeat; }

