article.section.section--image-title#section-helsana
    .section__image.js-section-parallax
        .section__image--inner.js-section-parallax-image(style="background-image: url(../img/contents/teaser-small.jpg)")

    .l-site-width.section--title--postion-top-left.section--color--white
        .section__inner.section__inner--very-small
            .section__title--wrap
                h3.js-side-nav.is-hidden(data-target="section-helsana") Helsana
                h1.section__title Helsana
                .section__subtitle
                    | Der Grösste Krankenversicherer der Schweiz
                    .tooltip__container.tooltip__container--inline.tooltip__trigger
                        span.icon-info.icon-info--medium.icon-info-medium--grey.icon-info--normal
                        span.icon.icon-info.icon-info--medium.icon-info-medium--red.icon-info--hover.icon-Info--16--grey
                        .tooltip
                            .tooltip__header Tootip title example
                            .tooltip__text
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labor.<br/>
                                a(href='#') Sample link

