mixin main-view--colors
  .styleguide-mainview.styleguide-mainview--full-width
    h1.styleguide-title Colors
    each colors, palette in palettes
      .styleguide-spacing-bottom--large
        h3.styleguide-label-main #{palette}
        .l-grid
          each color, name in colors
            .l-grid-cell.l-one-sixth.styleguide-spacing-bottom--medium
              .styleguide-color-example(style="background: #{color} !important;")
              p.styleguide-spacing-top--small.styleguide-element-info #{name}
              p.styleguide-element-info #{color}
