mixin main-view--icons ()
  .styleguide-mainview.styleguide-mainview--full-width
    h1.styleguide-title Icons
    .l-grid.styleguide-spacing-top--large
      ul.reset-list
        each icon in icons
          li.l-grid-cell.l-one-sixth.styleguide-spacing-bottom--medium
            .styleguide-icon-container
              span(data-grunticon-embed, class="icon styleguide-icon-example icon-" + icon)
              span.styleguide-label-main.styleguide-spacing-top--medium.t-centered #{icon}

