include _colors
include _typography
include _icons
include _component
include _components-overview

mixin main-view(type)
  if type && type == "colors"
    +main-view--colors
  else if type && type == "typography"
    +main-view--typography
  else if type && type == "icons"
    +main-view--icons
  else if type && type == "overview"
    +main-view--components-overview
  else
    +main-view--component
