extends /layout/layout

block htmlhead
    meta(name='format-detection', content='telephone=no')

block htmlbody
  .content__inner.content__inner--very-small
    include /modules/contents/pages/detail-packet-szv

