extends /layout/layout

block htmlhead
    meta(name='format-detection', content='telephone=no')

block htmlbody
    include /modules/site/site-header/site-header

    //sections
    include /modules/sections/section-start/section-start
    include /modules/sections/section-documents/section-documents
    include /modules/sections/section-image-title/section-image-title
    include /modules/sections/section-health-insurance/section-health-insurance
    include /modules/sections/section-image-title-alt/section-image-title-alt
    include /modules/sections/section-offers/section-offers
    include /modules/sections/section-counsel/section-counsel

    include /modules/site/site-footer/site-footer
