mixin component-presenter (name, mixinName)
  - var componentData = components[name]
  - var componentsOptions = componentData.options


  - var combinations = []
  - for option1Data, key in componentsOptions
    - for val in option1Data.values
      - for option2Data, key1 in componentsOptions
        - for val1 in option2Data.values
          - var options = {  }
          - options[key] = val
          - options[key1] = val1
          if combinations.indexOf(JSON.stringify(options)) == -1
            - combinations.push(JSON.stringify(options))



  - for options in combinations
    - optionsOb = JSON.parse(options)
    - var values = []
    - for(var key in optionsOb)
      - values.push(optionsOb[key])
    +#{mixinName}(values.join(' '), optionsOb)
