.card {
  display: block;
  position: relative;
  overflow: hidden;

  &--right {
    float: right;
  }

  &--left {
    float: left;
  }

  &--with-border {
    outline: 4px solid $c-white;
  }

  &--without-border {
    outline-style: none;
  }
}


.card-background {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%; left: 0;
  transform: translate(0, -50%);
}


@include breakpoint(mobile) {
  .card {
    &--right-mobile {
      float: right;
    }

    &--left-mobile {
      float: left;
    }

    &--with-border-mobile {
      outline: 4px solid $c-white;
    }

    &--without-border-mobile {
      outline: none;
    }
  }
}
