mixin button (data, options)
  - options = setOptionsDefaults(options, "button", components)
  - var classes = getOptionsModifier(options, "button", components)

  a(class=classes, disabled=options['disabled']) #{data.label}
