.button {
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;

  // Color Variations
  &, &--color-green {
    background: green;
  }

  &--color-red {
    background: red;
  }

  &--color-blue {
    background: blue;
  }

  // Size Variations
  &, &--size-medium {
    padding: 10px 40px;
  }

  &--size-small {
    padding: 5px 10px;
  }

  &--size-big {
    padding: 20px 80px;
  }

  // Corners Variations
  &, &--corners-rounded {
    border-radius: 5px;
  }

  &--corners-circle {
    border-radius: 100%;
    box-sizing: border-box;
    &.button--medium { padding: 10px; }
  }

  &--corners-square {
    border-radius: 0;
  }
}
