extends /layout/layout

block htmlhead
    title skeleton-project
    meta(name='description', content='')

block htmlbody
    .l-site-width
        h1 #{data.title}
        h2 #{data.subtitle}
        +mycomponent
          //- Example with default arguments
          +mycomponent-subcomponent
          //- Example with arguments
          +mycomponent-subcomponent("A transcluded title")
