extends /layout/layout

block htmlhead
    title skeleton-project
    meta(name='description', content='')

block htmlbody
    .l-site-width
        h1 #{data.title}
        h2 #{data.subtitle}
        +skeleton-docs
        //- +mymodule
        //-   //- Example with default arguments
        //-   +mymodule-submodule
        //-   //- Example with arguments
        //-   +mymodule-submodule("A transcluded title")
