

$c-wet-asphalt: #34495e; // 
$c-midnight-blue: #2c3e50; // 
$c-turquoise: #1abc9c; // 
$c-green-sea: #16a085; // 
$c-emerald: #2ecc71; // 
$c-nephritis: #27ae60; // 
$c-peter-river: #3498db; // 
$c-belize-hole: #2980b9; // 
$c-amethyst: #9b59b6; // 
$c-wisteria: #8e44ad; // 


