mixin folder-structure
  h2(id="folder-structure") Folder Structure
  pre.
    app             (All the files you edit should be in here)
    |__css
    |__data         (All the data to fill the jade pages)
    |__fonts
    |__assets
    |____icon
    |____pic
    |____pdf
    |____movie
    |__js
    |__layout       (Base template)
    |__meta         (Base files like favicon.ico or robot.txt)
    |__modules      (The modules with their scss and jade files)
    |__pages        (The actual pages written in jade)
    dist            (All the generated files for prod)
    |__css
    |__favicon.ico
    |__fonts
    |__img
    |__js
    |__html
    |__.htaccess
    |__robots.txt
    lib
    |__bower_components
    |__node_modules
    |__g-toolset
    |____grunt
    |____css
    |____npm
    |______example-project  Things we will migrate to npm and bower
    grunt-tasks
    bower.json
    package.json
    Gruntfile.js
    README.md

