//- This component is a "parentable" component
mixin mycomponent()
  article.mycomponent
    h3 #{mycomponent.data.title}
    .mycomponent--content
      //- "Transcluded" content goes here
      if block
        block
      else
        p Transcluded content goes here
