include /modules/skeleton-docs/skeleton-docs
include /modules/skeleton-docs/folder-structure/folder-structure
include /modules/skeleton-docs/reusable-modules/reusable-modules
include /modules/skeleton-docs/templates/templates
include /modules/skeleton-docs/toolset/toolset