include ../modules/**/*.jade
include ../elements/**/*.jade

extends ../layouts/default

block meta
  title Skeleton Example Page
  //- TODO: add you page meta tags

block body
  .about.l-absolute-centered
    +header(data.index.header)
      p!= helpers.markdown(data.index.content)
