include ../modules/**/*.jade
include ../elements/**/*.jade

extends ../layouts/default

block body

  - var p = data.index.project

  header.l-grid.area.area--white.area--narrow
    +title(p)

  section.area
    img(src=relativePath + p.logo, alt=p.title)


