include ../modules/**/*.jade
include ../elements/**/*.jade

extends ../layouts/default.jade

block meta
  //- TODO: add you page meta tags

block body
  .about.l-absolute-centered
    +header(data.index.header)
      p!= helpers.markdown(data.index.content)

  +card({background: {image: "/images/background.jpg", alt:  "Alt text"}})
  - for (var i = 1; i < 100; ++i) {
    +#{'card' + i}({background: {image: "/images/background.jpg", alt:  "Alt text"}})
  - }
