extends ../layouts/default

include ../materials/**/*
include ../elements/**/*
include ../modules/**/*



block meta
  title project-name
  //- TODO: add you page meta tags

block body
  .about.l-absolute-centered
    +header(data.index.header)
      != helpers.markdown(data.index.content)
