include ../modules/**/*.jade

extends ../layouts/default/template

block meta
  title project-name
  //- TODO: add you page meta tags

block body
  .l-container
    +header(data.index.header)
    section
      != helpers.markdown(data.index.content)
