extends ../layouts/default/layout

include ../elements/**/*
include ../modules/**/*


block meta
  title project-name
  //- TODO: add you page meta tags

block body
  h1 Skeleton
  a(href="about") About

block append scripts
  script(src=relativePath + '/js/index.js')
