@import "bonescss/mixins";

$sizes: (
  huge        : 136px,
  x-large     : 64px,
  large       : 32px,
  medium      : 24px,
  normal      : 16px,
  small       : 12px,
  tiny        : 8px
);

/* Helpers for the styleguide to display the sizes */
@each $size, $value in $sizes {
  .s-#{$size} {
    width: s($size);
    height: s($size);
  }
}
