
.title {
font-family: Avenir;
font-size: 2.2rem;
line-height: 1.4;
color: $c-wet-asphalt;

}

.subtitle {
font-family: Avenir;
font-size: .9rem;
line-height: 1.4;
color: $c-wisteria;

}

.nav-item {
font-family: Avenir;
font-size: 1.125rem;
line-height: 1.4;
color: $c-amethyst;

}

.label {
font-family: Avenir;
font-size: .8rem;
font-weight: bold;
line-height: 1.4;
color: $c-belize-hole;
text-transform: uppercase;
}

.body {
font-family: Avenir;
font-size: 1rem;
line-height: 1.4;
color: $c-peter-river;

}


