p.content__lead.l-gap Ausgewählte Leistungen:
ul.list-icons.list--reset.list-icons--small
  li
    .list-icons__left
      span.icon.icon-bed--32--orange
    .list-icons__right
      .f-color--orange
        | Spitalabteilung
      .desc
        | Halbprivate oder private Abteilung
  li
    .list-icons__left
      span.icon.icon-stetoscop--32--orange
    .list-icons__right
      .f-color--orange
        | Freie Arztwahl
      .desc
        | z.B. Chefarztbehandlung
  li
    .list-icons__left
      span.icon.icon-teddybear--32--orange
    .list-icons__right
      .f-color--orange
        | Kinderbetreuung
      .desc
        | Lorem Ipsum Lorem Ipsum
  li
    .list-icons__left
      span.icon.icon-doctor-two--32--orange
    .list-icons__right
      .f-color--orange
        | Expertenzweitmeinung
      .desc
        | Lorem Ipsum Lorem Ipsum
  li
    .list-icons__left
      span.icon.icon-stopwatch--32--orange
    .list-icons__right
      .f-color--orange
        | Schneller Zugang zum Spezialisten
      .desc
        | Lorem Ipsum Lorem Ipsum
