p.content__lead.l-gap Ausgewählte Leistungen:
ul.list-icons.list--reset.list-icons--small
  li
    .list-icons__left
      span.icon.icon-world--32--green
    .list-icons__right
      .f-color--green
        | Auslandschutz
      .desc
        | Bis zu 12 Monaten volle Kostendeckung bei ambulanten und stationären Notfallbehandlungen. Kostenbeiträge bei gezielten Behandlungen im Ausland.
  li
    .list-icons__left
      span.icon.icon-glasses--32--green
    .list-icons__right
      .f-color--green
        | Brillengläser & Kontaktlinsen
      .desc
        | Lorem Ipsum Lorem Ipsum
  li
    .list-icons__left
      span.icon.icon-leave--32--green
    .list-icons__right
      .f-color--green
        | Komplementärmedizin
      .desc
        | Lorem Ipsum Lorem Ipsum
  li
    .list-icons__left
      span.icon.icon-dumbbell--32--green
    .list-icons__right
      .f-color--green
        | Fitnessabo
      .desc
        | Lorem Ipsum Lorem Ipsum
  li
    .list-icons__left
      span.icon.icon-tooth--32--green
    .list-icons__right
      .f-color--green
        | Zahnärztliche Behandlungen
      .desc
        | Bei Krankheit Ihres Kindes oder Ihnen selbst
