p.content__lead.l-gap Ausgewählte Leistungen:
ul.list-icons.list--reset.list-icons--small
  li
    .list-icons__left
      span.icon.icon-doctor_cross--32--blue
    .list-icons__right
      .f-color--blue
        | BASIS
      .desc
        | Standardvariante mit freier Arztwahl

  li
    .list-icons__left
      span.icon.icon-doctor-stetoscop--32--blue
    .list-icons__right
      .f-color--blue
        | BeneFit PLUS Hausarzt
      .desc
        | Ihr Hausarzt als erster Ansprechpartner
  li
    .list-icons__left
      span.icon.icon-doctor-24--32--blue
    .list-icons__right
      .f-color--blue
        | BeneFit PLUS Telemedizin
      .desc
        | Medizinische Betreuung per Telefon als erster Ansprechpartner
  li
    .list-icons__left
      span.icon.icon-nurse-24-headset--32--blue
    .list-icons__right
      .f-color--blue
        | PREMED-24
      .desc
        | Medizinische Beratung am Telefon vor jedem Arztbesuch
