h1.content__title Was kann ich alles einstellen?
p.content__lead.l-gap Über die Einstellung verschiedener Parameter haben Sie die Möglichkeit mehr oder weniger Verantwortung zu übernehmen und Ihre Versicherungsprämie zu beeinflussen.

ul.list__accordion.list--reset.l-gap-double
  li
    .list__accordion__head
      h3.list__accordion__title(style='cursor: pointer;')
        | Alternative Versicherungsmodelle (AVM)
      .list__accordion__head-right
        a.js-toggler.list__accordion__detail-toggle.js-toggler--red(href='', data-toggle-target='.list__accordion__detail')
          span.js-toggler__right.icon.icon-triangle-right--14--helsanared
          span.js-toggler__down.icon.icon-triangle-down--14--helsanared
    .list__accordion__detail
      .list__content.l-gap
        | Weil die Bedürfnisse ganz verschieden sind, können Sie die Grundversicherung bei der Helsana-Gruppe in mehreren Varianten abschliessen. So erhalten Sie neben der gesetzlichen Standardvariante auch viele alternative Versicherungsmodelle (AVM) zum Prämien sparen. Die medizinischen Leistungen sind bei allen Varianten vollkommen identisch. Durch die Einhaltung der modellspezifischen Verpflichtungen erhalten Sie jedoch grosszügige Rabatte auf Ihre Grundversicherungsprämie und profitieren von den Vorteilen einer zentralen Anlaufstelle bei allen gesundheitlichen Problemen.

      ul.list-icons.list--reset.list-icons--small
        li
          .list-icons__left
            span.icon.icon-doctor_cross--32--blue
          .list-icons__right
            .f-color--blue
              | Freie Arztwahl
            .desc
              | Die Standardvariante der Grundversicherung

        li
          .list-icons__left
            span.icon.icon-doctor-24--32--blue
          .list-icons__right
            .f-color--blue
              | Medizinische Betreuung per Telefon
            .desc
              | Medizinische Betreuung per Telefon als erster Ansprechpartner
        li
          .list-icons__left
            span.icon.icon-doctor-stetoscop--32--blue
          .list-icons__right
            .f-color--blue
              | Medizinische Betreuung durch Hausarzt/Grupenpraxis
            .desc
              | Ihr Hausarzt/Gruppenpraxis als erster Ansprechpartner bei gesundheitlichen Problemen

      include /modules/contents/actions/actions
  li
    .list__accordion__head
      h3.list__accordion__title(style='cursor: pointer;')
        | Jahresfranchise & Selbstbehalt
      .list__accordion__head-right
              a.js-toggler.list__accordion__detail-toggle.js-toggler--red(href='', data-toggle-target='.list__accordion__detail')
                span.js-toggler__right.icon.icon-triangle-right--14--helsanared
                span.js-toggler__down.icon.icon-triangle-down--14--helsanared
    .list__accordion__detail
      .list__content.l-gap
        | Über die Einstellung verschiedener Parameter haben Sie die Möglichkeit mehr oder weniger Verantwortung zu übernehmen und Ihre Versicherungsprämie zu beeinflussen.
      .diagram.l-gap
        img(src="../img/contents/chart_franchise_de_2500.png", alt="document preview")
      include /modules/contents/actions/actions
  li
    .list__accordion__head
      h3.list__accordion__title(style='cursor: pointer;')
        | Unfalldeckung
      .list__accordion__head-right
              a.js-toggler.list__accordion__detail-toggle.js-toggler--red(href='', data-toggle-target='.list__accordion__detail')
                span.js-toggler__right.icon.icon-triangle-right--14--helsanared
                span.js-toggler__down.icon.icon-triangle-down--14--helsanared
    .list__accordion__detail
      .list__content.l-gap
        | Wenn Sie nicht bei der Helsana-Gruppe versichert sind, informieren Sie sich hier wie Sie bei einem Wechsel kann je nach Produkt eine Gesundheitsdeklaration notwendig sein. Wenn Sie als Helsana Kunde in den Kollektivertrag wechseln müssen Sie keine Gesundheitsdeklaration machen.
      include /modules/contents/actions/actions
  li
    .list__accordion__head
      h3.list__accordion__title(style='cursor: pointer;')
        | Grundversicherung abschliessen
      .list__accordion__head-right
              a.js-toggler.list__accordion__detail-toggle.js-toggler--red(href='', data-toggle-target='.list__accordion__detail')
                span.js-toggler__right.icon.icon-triangle-right--14--helsanared
                span.js-toggler__down.icon.icon-triangle-down--14--helsanared
    .list__accordion__detail
      .list__content.l-gap
        | Nein. Es sollte jedoch vorher die Berechtigung für den Beitritt in den Kollektivvertrag abgeklärt werden (bei uns oder direkt beim Verein/Verband/Arbeitgeber). Das heisst: Entweder der Sie als oder ein Familienmitglied muss Mitglied beim Verein/Verband oder beim Arbeitgeber tätig sein. Teilweise haben die Verträge eine Alterslimite.
      include /modules/contents/actions/actions

.l-gap-triple
  include /modules/contents/actions/actions

