.card {
  background: #e9e9e9;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 15px;
  &, &--medium {
    padding: 10px;
    width: 200px;
  }
  &--small {
    padding: 5px;
    width: 100px;
  }
  &--big {
    padding: 15px;
    width: 400px;
  }
}

.card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 2rem;
  font-family: sans-serif;
  color: #666;
}

.card-button {
  margin-top: 15px;
  display: block;
}

.card-content {
  p { margin-top: 0; }
}
