mixin card (data, options)
  - var title      = data.title || arguments.title
  - var buttonText = data.buttonText || arguments.buttonText
  - var options    = options || {}

  - var classes = "card"
  - for val, key in components.card.options
    - classes = classes + " card--" + (options[key] || components.baseButton.options[key].default)
  .card(class=classes)
    h1.card-title #{title}
    .card-content
      block
    +button(
      { label: buttonText },
      {
        size: options["size"]   || components.card.options["size"].default,
        color: options["color"] || components.card.options["color"].default
      }
    )
