mixin card(data, options)
  -
    var data = data || {};
    // extends the options with the ones defined in definition.yml
    var options = helpers.mergeDefaultOptions(options, 'modules/card');
    var classes = [attributes.class];

    classes.push('card');
    options.size.forEach(function(brakpoint){
      console.log(brakpoint);
    });


  each o, breakpoint in options.size
    - classes.push('l-' + o + breakpoint);

  each o, breakpoint in options.ratio
    - classes.push('l-' + o + breakpoint);

  if options.border == true
    - classes.push('card--with-border');

  if options.float
    - classes.push('card--' + options.float);

  - attributes.class = classes;

  div&attributes(attributes)
    if data.background
      img(src=relativePath + data.background.image, alt=data.background.alt).card-background
    .l-absolute-centered.card-content
      block
