.area {
  position: relative;

  /* color modifiers */
  &--white,
  &--silver {
    border-bottom: none;
    color: $c-eigengrau;
  }
  &--white {
    background: $c-white;
  }
  &--silver {
    background: $c-silver;
  }

  /* size / spacing modifiers */
  &--narrow {
    padding: 5% 10%;
    @include breakpoint(mobile) {
      padding: 0;
    }
  }

  &--with-borders {
    border-top: 4px solid $c-white;
    border-bottom: 4px solid $c-white;
  }
}
