article.section.section--insurance#section-insurance
    .l-site-width
        .section__inner.section__inner--small
            h1.section__title
                | So funktioniert die Krankenversicherung
            h2.js-side-nav.is-hidden(data-target="section-insurance") So funktioniert es

            .insurance
                .insurance__circle
                    .insurance__circle__left
                        .insurance__circle__inner
                    .insurance__circle__right-top
                        .insurance__circle__inner
                    .insurance__circle__right-bottom
                        .insurance__circle__inner
                    img.insurance__image(src="../img/contents/circle/chart--350--de.svg", alt="circle")

                a(href="#").insurance__left.f-color--blue
                    span.insurance__caption.is-hidden-mobile
                        span F체r alle in der Schweiz wohnhaften Personen <strong>obligatorisch</strong>

                a(href="#").insurance__right-top.f-color--green
                    span.insurance__caption.is-hidden-mobile
                        span Deckt Leistungen, die in der Grundversicherung nur <strong>teilweise gedeckt</strong> sind

                a(href="#").insurance__right-bottom.f-color--orange
                    span.insurance__caption.is-hidden-mobile
                        span Erg채nzt die  Leistungen bei <strong>station채ren Behandlungen</strong>

            ul.button-group.button-group--wide.insurance__buttons
                li
                    a.button.button--primary.button--wider.button--large(href="#") Pr채mie berechnen
                li
                    a.button.button--outline.button--wider.button--large(href="#") Beraten lassen
