div(ng-if='ready')
  .styleguide-palette-container(ng-repeat="(paletteName, paletteData) in colorsData")
    h2.t-styleguide-title {{ paletteName | ucfirst }}
    ul.list-reset.l-grid
      li.l-grid-cell.l-one-fifth.styleguide-color-item-container(
        ng-repeat="(colorName, colorSpec) in paletteData"
      )
        .styleguide-color-item(style="background-color: {{ colorSpec }}")
          .styleguide-color-data
            p.t-styleguide-caption
              {{ colorName }}
              br
              {{ colorSpec }}


  //- .l-grid
