//- This component is a "parentable" component
mixin mymodule()
  article.mymodule
    h3 #{mymodule.data.title}
    .mymodule--content
      //- "Transcluded" content goes here
      if block
        block
      else
        p Transcluded content goes here
