div(ng-if="ready")
  div.styleguide-typography-item(ng-repeat="(name, specs) in typographyData")
    .l-grid
      .l-grid-cell.l-one-quarter
        h1.t-styleguide-title {{ name }}
        ul.list-reset
          li(ng-repeat="( property, value) in specs", ng-if="property !== 'value'")
            p.t-styleguide-caption {{ value }}
      .l-grid-cell.l-three-quarters
        p.styleguide-typography-preview(style="{{ getCssStyleFor(specs) }}") {{ specs.value || "Lorem ipsum is the best" }}
