@import "compass/utilities/sprites";         // Include compass sprite helpers
@import "compass/css3/background-size";      // Include helper to calc background size

@mixin retina-image($shortpath, $extension: 'png'){
    $path: $shortpath + "." + $extension;
    $path2x: $shortpath + "-2x." + $extension;
    $width: image-width($path);
    $height: image-height($path);
    background-image: image-url($path);
    background-repeat: no-repeat;
    background-size: $width $height;
    @include retina {
        background-image: image-url($path2x);
    }
}
@mixin retina-image-block($shortpath, $extension: 'png') {
    $path: $shortpath + "." + $extension;
    width: image-width($path);
    height: image-height($path);
    @include retina-image($shortpath, $extension);
}
