@mixin triangle( $size: 10px, $color: #000, $direction: up){
	width: 0; height: 0;
	border: $size solid transparent;

	@if $direction == right {
		border-left-color: $color;
		border-right: none;
	}

	@if $direction == left {
		border-right-color: $color;
		border-left: none;
	}

	@if $direction == up {
		border-bottom-color: $color;
		border-top: none;
	}

	@if $direction == down {
		border-top-color: $color;
		border-bottom: none;
	}
}