article.section.section--documents#section-documents
    .l-site-width
        .section__inner.section__inner--small
            h1.section__title
                | Wichtige Dokumente für Ihre Einwanderung
            h2.js-side-nav.is-hidden(data-target="section-documents") Dokumente

            ul.document-preview__list.l-horizontal
                li.document-preview__item
                    a.document-preview(href="#")
                        img(src="../img/contents/doc-1.png", alt="document preview")
                        span.document-preview__overlay.l-centered-container
                            span.l-centered-inner
                                span.l-centered-content
                                    span.l-centered-body.document-preview__text
                                        span.icon.icon-eye--32--white
                                        | Checklist





                li.document-preview__item
                    a.document-preview(href="#")
                        img(src="../img/contents/doc-2.png", alt="document preview")
                        span.document-preview__overlay.l-centered-container
                            span.l-centered-inner
                                span.l-centered-content
                                    span.l-centered-body.document-preview__text
                                        span.icon.icon-eye--32--white
                                        | Kranken- versicherung

                li.document-preview__item
                    a.document-preview(href="#")
                        img(src="../img/contents/doc-3.png", alt="document preview")
                        span.document-preview__overlay.l-centered-container
                            span.l-centered-inner
                                span.l-centered-content
                                    span.l-centered-body.document-preview__text
                                        span.icon.icon-eye--32--white
                                        | Adressen

            form(action="#", method="post").form-
                fieldset
                    legend.is-visuallyhidden E-Mail Information

                    label.form-input__wrap.form-input__wrap--document-email
                        span.is-visuallyhidden E-Mail Adresse
                        input.form-input(type="text", placeholder="Meine Email-Adresse", required="true")

                    span.form-input__wrap.form-input__wrap--document-submit.is-hidden-mobile
                        button.button.button--primary.button--wider.button--large PDF's zustellen

                    span.form-input__wrap.form-input__wrap--document-agb
                        input(type="checkbox", name="agb1", id="agb1", required="true")
                        label(for="agb1") Ich habe die <a href="#">Datenschustzbestimmungen</a> alzeptiert


                    span.form-input__wrap.form-input__wrap--document-submit.is-visible-mobile
                        button.button.button--primary.button--wider.button--large PDF's zustellen
