/***********
 * DEFAULT
 ***********/
$btn-default-typography: 'ui-button';
$btn-default-padding: size(tiny) size(small);
$btn-default-border-radius: 2px;
$btn-default-background: c(ginetta, teal);
$btn-default-color: c(neutral, white);
$btn-default-border: 0;

// HOVER
$btn-default-background-hover: darken($btn-default-background, 5%);

// FOCUS
$btn-default-background-focus: darken($btn-default-background, 10%);


.btn--unstyled {
  background: transparent;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  &:focus,
  &:active {
    outline: none;
  }
}

.link--unstyled {
  text-decoration: none;
  color: inherit;
}

// [1] Override <a> defaults
// [2] Override <button> defaults
// [3] Override <div> defaults
.btn {
  text-align: center;
  display: inline-block; // [3]

  @include type($btn-default-typography);
  text-decoration: none;                 // [1]

  padding: $btn-default-padding;             // [2]
  border-radius: $btn-default-border-radius; // [1]
  background: $btn-default-background;       // [1]
  color: $btn-default-color;                 // [1]
  border: $btn-default-border;               // [2]

  cursor: pointer; // [3]
  outline: none; // [1] and [2]

  // animation
  transition: background-color 150ms, color 150ms;
  will-change: background-color, color;


  overflow: hidden;

  &:hover,
  &--hovered {
    background-color: $btn-default-background-hover;
  }

  &:focus,
  &--focused {
    background-color: $btn-default-background-focus;
  }
}


/***********
 * GHOST
 ***********/

 $btn-ghost-background: transparent;
 $btn-ghost-color: c(ginetta, teal);
 $btn-ghost-border-color: c(ginetta, teal);
 $btn-ghost-border-thickness: 1px;

 // HOVER
 $btn-ghost-background-hover: mix(c(ginetta, teal), c(neutral, white), 10%);
 $btn-ghost-color-hover: darken(c(ginetta, teal), 5%);

 $btn-ghost-background-focus: mix(c(ginetta, teal), c(neutral, white), 15%);


.btn--ghost {
  background: $btn-ghost-background;
  color: $btn-ghost-color;

  box-shadow: 0 0 0 $btn-ghost-border-thickness $btn-ghost-border-color inset;
  text-shadow: none;

  &:hover,
  &.btn--hovered {
    background-color: $btn-ghost-background-hover;
  }

  &:focus,
  &.btn--focused {
    background-color: $btn-ghost-background-focus;
  }
}
