footer.site-footer
  .site-footer__inner
    .l-site-width
      ul.list--inline
        li © 2014 Helsana
        li: a(href='http://www.helsana.ch/', target='_blank') www.helsana.ch
        li: a(href='http://www.helsana.ch/de/rechtliche_hinweise/', target='_blank') Rechtliche Hinweise
        li: a(href='http://www.helsana.ch/de/impressum/', target='_blank') Impressum
