ul.button-group.button-group--wide
  li
    a.button.button--primary.button--wider.button--large(target='_blank', href='https://offerte.helsana.ch/neoweb')
      | Grundversicherung wählen
  li
    a.button.button--outline.button--wider.button--large
      | Individuell zusammenstellen

