doctype html

html(lang=language)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    link(rel='stylesheet', href='#{relativePath}css/styles.css')

    block meta

    //- TODO: add your favicons

  body
    block body

    script(src='#{relativePath}/js/main.js')



