article.section.section--counsel#section-beratung
    .l-site-width
        .section__inner.section__inner--small
            h1.section__title Persönliche Beratung
            h2.js-side-nav.is-hidden(data-target="section-beratung") Persönliche Beratung

            form.map__wrapper
                .map
                    img.map__image.is-hidden-mobile(src="http://maps.google.com/maps/api/staticmap?center=46.8181880,8.2275120&zoom=7&size=700x300&maptype=roadmap&sensor=false&language=&markers=color:red|label:none|47.4982431,8.7397719", alt="map")
                    img.map__image.is-visible-mobile(src="http://maps.google.com/maps/api/staticmap?center=46.8181880,8.2275120&zoom=7&size=275x300&maptype=roadmap&sensor=false&language=&markers=color:red|label:none|47.4982431,8.7397719", alt="map")

                    .map__search
                        input.map__search-input.form-input(type='text', placeholder='Standort suchen')
                        button.map__search-button(type='submit', value='Suche')
            .counsel-links
                a.counsel-link(href="#")
                    span.counsel-link__icon
                        span.icon.icon-pushed-bell--32--helsanared
                    strong.counsel-link__title Beratung anfordern
                    span.counsel-link__text Vereinbaren Sie eine telefonische oder persönliche Beratung.
                    span.counsel-link__clicktoaction Zum Formular

                a.counsel-link(href="#")
                    span.counsel-link__icon
                        span.icon.icon-headset--32--helsanared
                    strong.counsel-link__title Helsana anrufen
                    span.counsel-link__text Wir beantworten Ihre Fragen Montag bis Freitag von 8 bis 18 Uhr.
                    span.counsel-link__clicktoaction Tel. +41 43 340 90 44
