.section--counsel {
  border-top: 1px solid $c-grey-light;
}

.counsel-links {
  margin-top: 10px;
}

.counsel-link {
  padding: 15px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background: $c-grey-lightest;
  width: 50%;
  font-size: 14px;
  color: $black;
  @include box-sizing(border-box);
  &:first-child {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  @include mobile {
    width: 100% !important;
    margin: 0 0 10px;
  }
}

.counsel-link__title,
.counsel-link__text,
.counsel-link__clicktoaction {
  display: block;
}

.counsel-link__title {
  font-size: 20px;
}

.counsel-link__clicktoaction {
  color: $helsana-red;
}

.map {
  position: relative;
  margin-top: 60px;
  @include mobile {
    margin-top: 20px;
  }
  width: 100%;

  img {
    width: 100%;
    line-height: 1;
  }

  &__wrapper {
    position: relative;
  }
  &__search {
    position: absolute;
    top: 20px;
    left: 20px;
    @include mobile {
      right: 20px;
      .form-input {
        @include box-sizing(border-box);
        width: 100%;
      }
    }
  }
  &__search-button {
    @include hide-text;
    @include reset-box-model;
    @include opacity(0.7);
    position: absolute;
    top: 10px;
    left: 272px;
    width: 21px; height: 21px;
    border: 0;
    overflow: hidden;
    background-color: transparent;
    @extend .icon-magnifyingglass--21--grey;

    @include mobile {
      left: 100%;
      margin-left: -30px;
    }

    &:focus, &:hover {
      outline: 0;
      @extend .icon-magnifyingglass--21--helsanared;
    }
  }
}

input.map__search-input {
  @include box-sizing(border-box);
  @include box-shadow(inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3));
  width: 300px;
  height: 40px;
  padding-left: 10px;
  padding-right: 42px;
  border: 1px solid #979797;
  font-size: 16px;
  font-weight: 300;

  @include placeholder($c-grey-dark);

  appearance: textfield;
  &:focus {
    outline: 0;
  }
}
