extends /layout/layout

block htmlhead
  title Styleguide
  meta(name='description', content='')
  link(rel='stylesheet', href='#{relativePath}/css/styleguide.css')

block htmlbody
  .l-site-width
    h1 Components List
    ul.components-list
      - each component in componentsData.components
        if component.hideInStyleguide
        else
          li.component-thumbnail.l-one-third
            .component-name
              a(href="components/#{component.name}.html") #{component.name}
            .component-preview
              iframe(src="components/#{component.name}/c0.html")
