.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: s(tiny);
  padding-right: s(tiny);
}

.l-container--small {
  max-width: 800px;
}

.l-container--condensed {
  padding-left: 0;
  padding-right: 0;
}
