mixin mycomponent-subcomponent(title, age)
  //- Use this space for default arguments handling
  - title = title || mycomponentMycomponentSubcomponent.data.title
  - age   = age   || data.age

  article.mycomponent.mycomponent--subcomponent
    h4 #{title}